-

mixin navbar
	.wrapper
		// Sidebar
		nav#sidebar
			.sidebar-header
				h3 Medilab Clinic
				strong MC
			ul.list-unstyled.components
				li
					a(href="/doctor")
						i.fas.fa-home
						| Home
				li
					a(href="#")
						i.fas.fa-user
						| Profile
					a(href="/doctor/schedule")
						i.fas.fa-copy
						| Schedule
					a.dropdown-toggle(href="#pageSubmenu" data-toggle="collapse" aria-expanded="false")
						i.fas.fa-cogs
						| Accessories
					ul#pageSubmenu.collapse.list-unstyled
						li
							a(href="/doctor/advice") Advice
						li
							a(href="/doctor/treatment") Treatment
						li
							a.dropdown-toggle(href="#medicineSubmenu" data-toggle="collapse" aria-expanded="false")
								i.fas.fa-medkit
								|  Medicine
							ul#medicineSubmenu.collapse.list-unstyled
								li
									a(href="/doctor/medicine") Manage
								li
									a(href="/doctor/medicineNote") Medicine Note
				li
					a(href="#")
						i.fas.fa-paper-plane
						| Contact
			ul.list-unstyled.CTAs
				li
					a.download(href="/doctor/prescription") Create Prescription
				li
					a.article(href="#") Patient List
			ul.list-unstyled
				li
					a.logout(href="/logout")
						i.fas.fa-power-off
						| log Out
		// Page Content
		#content
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container-fluid
					button#sidebarCollapse.btn(type="button")
						span.navbar-toggler-icon
				button.navbar-toggler.text-right(type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				#navbar-list-4.collapse.navbar-collapse
					a(href="#") !{$SESSION.user.name}
					ul.navbar-nav
						li.nav-item.dropdown
							a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false")
								img.profile-pic(src='/images/profile.png', alt='user')
							.dropdown-menu.dropdown-menu-right.scale-up
								a.dropdown-item(href="#") !{$SESSION.user.name}
								a.dropdown-item(href="#") Edit Profile
								a.dropdown-item(href="/logout") Log Out
			block content
				pre !{$SESSION}
	script.
		window.onload = function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
		};